/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
.main-container {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

body{
	font-family: "Work Sans";
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
.filtre{
	display: flex;
	gap : 10px;
	align-items: center;
	justify-content: center;
}

.bulles{
	border-radius: 60px;
	border: 1px solid #1D6154;
	font-size: 16px;
	text-align: center; 
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 700; 
	color: #1D6154;
	cursor:pointer;
}

.bulles_clicked{
	border-radius: 60px;
	border: 1px solid #1D6154;
	font-size: 16px;
	text-align: center;
	background: #1D6154;  
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 700; 
	color: #FFF; 
	cursor:pointer;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
	margin-bottom:130px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


a{
	text-decoration: none;
}

a:visited{
	color : black;
}

li a{
	color : black;
}

form a {
	color: #3D3D3D; 
}

a:hover{
	color: #B1663C;
}

.login{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top:150px;
	gap: 30px;
	margin-bottom: 355px;
}

.login form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.login p{
	margin-bottom: 5px;
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal; 
}

form input[type="text"], form input[type ="password"]{
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09); 
	outline:none;
	border:none;
	height: 50px;
	font-size: 20px;
	font-family: Work Sans;
	padding-left: 10px;
}

form input:focus{
	outline:solid;
	outline-width: thin;
	outline-color: #B1663C;
}

.boutons{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#connexion{
	font-size: 14px;
	margin:0px;
}

.login a{
	text-decoration-line: underline; 
	text-decoration-skip-ink: none;
}

.edit-bar{
	max-width: none !important ;
	width:100%;
	height: 59px;
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: center;
  	align-items: center;
	gap : 20px;
}

.edit-bar{
	color:white;
	position:sticky;
	top:0;
	z-index: 9999;
}

.publish{
	border-radius: 60px;
	background: #FFF; 
	color:black;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top:10px;
}

h2 i.fa-regular.fa-pen-to-square{
	padding-left: 30px;
}

#portfolio h2{
	display: flex;
	flex-direction: row;
	text-align: center; 
	align-items:center;
	justify-content:center;
}

#modifier{
	display: flex;
	flex-direction: row;
	text-align: center; 
	align-items:center;
	justify-content:center;
	cursor: pointer;
}


.modifier_txt{
	display:inline-block;
	color : black;
	padding-left: 10px;
	font-size: 14px;
	font-family: Work Sans; 
	font-weight: 400;
	text-align: center;
	margin-bottom: 5px;

}

 /* The Modal (background) */
 .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 9999; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.30); /* Black w/ opacity */
  }
  

  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	width: 45%; /* Could be more or less, depending on screen size */
	max-width: 630px;
	border-radius: 10px; 
  }
  
  /* The Close Button */
  .close {
	color: #000000;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  } 

  .modal-title{
	padding-top: 60px;
	padding-bottom: 45px;
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
  }

#travaux{
	padding : 80px;
	padding-top: 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items:center;
	justify-content:center;
	align-content: flex-start;
	gap:8px;
}

#galerie{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items:center;
	align-content: flex-start;
	gap:8px;
}

.mod_img{
	width: 80px;
	height: 105px;
	flex-shrink: 0; 
	padding-bottom:25px;
	position: relative;
  }

.mod_img img{

	width: 100%;
	height: 100%;
	object-fit: contain;
}

.line{
	margin-top:50px;
	width: 65%;
	height: 2px;
	background: #B3B3B3;
}

.poubelle{
	position: absolute;
	top:6px;
	right:6px;
	width: 17px;
	height: 17px; 
	background-color: #000;
	border-radius: 3px; 
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.move{
	position: absolute;
	top:6px;
	right: 25px;
	width: 17px;
	height: 17px; 
	background-color: #000;
	border-radius: 3px; 
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-align: center;
}

.move i{
	padding-left: 7px;
}

#ajouter{
	width: 237px;
	height: 36px;
	border-radius: 60px;
	background: #1D6154; 
	color: #FFF;
	text-align: center;
	font-family: Syne;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal; 
	border: none;
	cursor: pointer;

}

.boutons{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#del_all{
	margin-top: 30px;
	margin-bottom: 40px;
	color: #D65353;
	text-align: center;
	font-family: Syne;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

#ajout_form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.ajout{
	display: flex;
	flex-direction: column;
	gap:10px;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	background: #E8F1F6; 
	width: 420px;
	height: 170px; 
}

.ajout i{
	font-size: 76px;
	width: 76px;
	height: 76px; 
	line-height: 1;
}

.texts{
	display:flex;
	flex-direction: column;
	margin-top: 30px;
	gap: 10px;
}

.texts input{
	width: 420px;
	height: 50px; 
}

form .line{
	margin-bottom:40px;
}

form input{
	font-size: 20px;
}

#valider{
	border-radius: 60px;
	border:none;
	width: 237px;
	height: 36px; 
	background: #A7A7A7; 
	color: #FFF;
	text-align: center;
	font-family: Syne;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal; 
	margin-bottom:30px;
}


#btn_ajout{
	display: flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
	border:none;
	width: 170px;
	height: 35px; 
	border-radius: 50px;
	background: #CBD6DC; 
	color: #306685;
	text-align: center;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal; 
}

input[type="file"] {
    display: none;
}

#catégorie{
	width: 420px;
	height: 50px;
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border: none;
	color: #000;
 
}

#upload_img{
	display : none;
	object-fit: contain;
	height: 170px; 
}